<p id="notice"><%= notice %></p>

<h1>Listing Admin Games</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Image(Icon?)</th>
      <th>Title</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag(game.image_url, height: 23) if game.image.present? %></td>
        <td><%= game.name %></td>
        <% if game.author.present? %>
          <td>
            <% game.author.each_with_index do |author, i| %>
              <%= ', ' unless i == 0 %>
              <%= author.name %>
            <% end %>
          </td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= link_to 'Show', admin_game_path(game) %></td>
        <td><%= link_to 'Edit', edit_admin_game_path(game) %></td>
        <td><%= link_to 'Destroy', admin_game_path(game), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_admin_game_path %>
