<p id="notice"><%= notice %></p>

<h1><%= @game.name %></h1>

<div><%= image_tag(@game.image_url, width: 600) if @game.image.present? %></div>

<% if @game.author.present? %>
  <h3>
    <%= 'Created by ' %>
    <% @game.author.each_with_index do |author, i| %>
      <%= ', ' unless i == 0 %>
      <%= author.name %>
    <% end %>
  </h3>
<% end %>

<%= link_to 'Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>
