<div class="game-box">
<div class="game-box" style="float: left;"><%= image_tag(@game.image_url, :height => 300) if @game.image.present? %></div>
  <div style="float: right; width: 300px;">
  <h2><%= @game.name %></h2>
  <p><%= @game.description %></p>
  </div>
</div>

<%= form_for collect_game_path(@game), :class => "form-horizontal" do |f| %>
  <fieldset>
  <legend>アンケート</legend>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this admin_game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-lg-2 control-label">評価</label>
    <div class="col-lg-10">
        <select name="collect[evaluation]" class="form-control" id="select">
          <option value='1'>とても面白い</option>
          <option value='2'>面白い</option>
          <option value='3'>普通</option>
          <option value='4'>あまり面白くない</option>
          <option value='5'>面白くない</option>
        </select>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[impressions]', '感想(必須)', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= text_area 'collect[impressions]', '', :class => "form-control", :required => true %>
    </div>
  </div>

  <% if params[:guest_name].present? %>
  <div style="display: none">
  <% end %>
  <div class="form-group">
    <%= label_tag 'collect[guest_name]', '名前(ハンドルネームみたいなもの・必須)', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10 hiroi1">
      <%= text_field_tag 'collect[guest_name]', params[:guest_name], :class => "form-control", :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[most_fav]', '今までやった中で一番面白かったゲームはなんですか？', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10 hiroi2">
      <%= text_field_tag 'collect[most_fav]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[want_game]', 'やってみたいゲームは何ですか？', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10 hiroi1">
      <%= text_field_tag 'collect[want_game]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[where_c3]', 'C3をどこで知りましたか？', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10 hiroi2">
      <%= text_field_tag 'collect[where_c3]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[shourai]', '将来働いてみたい研究機関、気になっている職業があれば教えてください。', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10 hiroi2">
      <%= text_field_tag 'collect[shourai]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[kit]', '将来、九州工業大学に入学する気、もしくはさせる気はありますか？', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10 hiroi2">
      <%= text_field_tag 'collect[kit]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[know]', 'この中から知っている単語があればチェックをつけてください。', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <% tangos = ['ゆきのさつき', 'ドワンゴ', 'HIKAKIN', '稲船敬二', 'シェムニー', 'constexpr', 'LISP', 'Linux', 'GitHub', 'Twitter', 'はてなブックマーク', 'Reddit', 'Oculus', 'Rift', 'Project Morpheus', 'スターオーシャン5', '岩田聡', 'DTM', 'pepper', 'Lua', '吉里吉里', 'コミックマーケット', 'Bio_100%', 'Ruby', 'C', 'C++', 'C#'] %>
      <% tangos.each do |tango| %>
        <div class="checkbox" style="display: inline-block; width: 300px;">
          <label>
            <%= check_box_tag "collect[know][#{tango}]", true, false, {} %>
            <%= tango %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
  <% if params[:guest_name].present? %>
  </div>
  <% end %>
  <div class="form-group" style="margin-top: 10px">
    <div class="col-lg-10 col-lg-offset-2" style="margin-top: 10px">
      <%= f.submit '送信', :class => "btn btn-primary" %>
    </div>
  </div>
  </fieldset>
<% end %>

<script>
$(function(){
  $(".image-box img").each(function(){
    $(this).bind("load", function(){
      if($(this).width() > $(this).height()){
        $(this).css("height", "600px");
        $(this).css("left", -($(this).width()-600)/2 + "px");
      }else{
        $(this).css("width", "600px");
        $(this).css("top", -($(this).height()-600)/2 + "px");
      }
    });
  });
});
</script>
