<%= form_for collect_game_path(@game), :class => "form-horizontal" do |f| %>
  <fieldset>
  <legend>アンケート</legend>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this admin_game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-lg-2 control-label">評価</label>
    <div class="col-lg-10">
        <select name="collect[evaluation]" class="form-control" id="select">
          <option value='1'>とても面白い</option>
          <option value='2'>面白い</option>
          <option value='3'>普通</option>
          <option value='4'>あまり面白くない</option>
          <option value='5'>面白くない</option>
        </select>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[impression]', '感想', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= text_area 'collect[impression]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'collect[guest_name]', '名前', :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= text_field_tag 'collect[guest_name]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">性別</label>
    <div class="col-lg-10">
      <div class="radio">
        <label>
          <input type="radio" name="collect[gender]" id="optionsRadios1" value="man" checked="">
          男
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="collect[gender]" id="optionsRadios2" value="woman">
          女
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">年齢</label>
    <div class="col-lg-10">
      <%= text_field_tag 'collect[age]', '', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">出身</label>
    <div class="col-lg-10">
        <select name="collect[come-from]" class="form-control" id="select">
          <option value='福岡県-福岡市内'>福岡県-福岡市内</option>
          <option value='福岡県-福岡市周辺'>福岡県-福岡市周辺</option>
          <option value='福岡県-北九州'>福岡県-北九州</option>
          <option value='福岡県-筑豊地方'>福岡県-筑豊</option>
          <option value='福岡県-筑後地方'>福岡県-筑後</option>
          <option value='佐賀県'>佐賀県</option>
          <option value='長崎県'>長崎県</option>
          <option value='大分県'>大分県</option>
          <option value='熊本県'>熊本県</option>
          <option value='宮崎県'>宮崎県</option>
          <option value='鹿児島県'>鹿児島県</option>
          <option value='沖縄県'>沖縄県</option>
          <option value='中国地方'>中国地方</option>
          <option value='四国地方'>四国地方</option>
          <option value='関西地方'>関西地方</option>
          <option value='中部地方'>中部地方</option>
          <option value='関東地方'>関東地方</option>
          <option value='東北地方'>東北地方</option>
          <option value='北海道地方'>北海道地方</option>
        </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit '送信', :class => "btn btn-primary" %>
    </div>
  </div>
  </fieldset>
<% end %>
